h1 {
  color: #181D4F;
 
}
.calum {
  width: 100%;
  float: left;
  padding: 10px;
  height: 500px;
}   
  
.stuff {
  float right;
}
h1 {
  background-image: url ("https://github.com/NewmanXing/portfolio/blob/gh-pages/God%20King%20Darius.jpg?raw=true");
}
